<main>
  <article>
    <h1>I am:</h1>

    <ul>
      <li><a href="https://github.com/lucaong">@lucaong</a> on GitHub</li>
      <li><a href="https://twitter.com/lucaongaro">@lucaongaro</a> on Twitter</li>
      <li><a href="https://www.linkedin.com/in/lucaongaro">Luca Ongaro</a> on LinkedIn</li>
    </ul>
  </article>
</main>
