<main>
  <figure class="profile">
    <img src="/images/luca_ongaro.png" alt="Luca Ongaro">
    <figcaption>
      I am Luca Ongaro, software engineer and web developer. I am fond of algorithms and data structures, data science and writing Elixir, Clojure, Ruby, Scala, JavaScript, Rust and more.
    </figcaption>
  </figure>
</main>
