<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Luca Ongaro<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans" rel="stylesheet">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <nav>
        <h1><b>Luca Ongaro</b></h1>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/projects.html">Projects</a></li>
        </ol>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
