// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$primary-theme-color: #8f351d;
$secondary-theme-color: #efd7af;

$text-color: desaturate(darken($primary-theme-color, 20), 20) !default;
$text-color-light: lighten($text-color, 5) !default;

$header-bg: $primary-theme-color;
$subtitle-color: $primary-theme-color;

$nav-color: $primary-theme-color;
$nav-color-hover: lighten($nav-color, 10);
$nav-bg: $secondary-theme-color;
$nav-bg-front: transparent;
$nav-bg-back: $nav-bg;
$nav-border-top: $nav-bg;
$nav-border-bottom: darken($nav-bg, 10);
$nav-border-left: darken($nav-bg, 10);
$nav-border-right: transparent;

$main-bg: #fffff9;

$sidebar-color: desaturate($primary-theme-color, 20);
$sidebar-bg: desaturate(lighten($secondary-theme-color, 10), 10);
$sidebar-link-color: $primary-theme-color;
//$sidebar-link-color-hover: darken(#7ab662, 9);

$footer-bg: $primary-theme-color !default;
$footer-bg-front: image-url('noise.png');
$footer-bg-back: $primary-theme-color;
$footer-color: $secondary-theme-color;
$footer-link-color: $footer-color;

// Main Link Colors
$link-color: lighten($primary-theme-color, 10) !default;
$link-color-hover: lighten($link-color, 10) !default;
$link-color-visited: darken($link-color, 10) !default;
$link-color-active: lighten($link-color-hover, 5) !default;


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
