// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background: #333;
}

body {
  margin: 10px auto;
	font-family: $sans;
  color: $text-color; 

	& > nav {
		form .search {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
			margin-top: 5px;
			line-height: 1em;
		}
	}

  h1 {
    font-size: 1.8em;
  }

	blockquote {
	  font-style: italic;
	  font-size: 1em;
	  padding-left: 1em;
	  border-left: 2px solid rgba($text-color-light, .5);
	  font-family: $serif;
	  color: $text-color-light;
	}

}

@media (max-width:850px) {
  body {
    margin: 0 auto;
  }
}
